<div class="card">
    <div class="card-header">
        <h3 class="card-title text-center">Videojuego</h3>
    </div>
    <div class="card-body">
        <form #myForm>
            <div class="form-group">
                <label for="">Titulo</label>
                <input type="text" class="form-control" aria-describedby="title" name="title" [(ngModel)]="newGame.title">
            </div>
            
            <div class="form-group">
                <label for="">Genero</label>
                <input type="text" class="form-control" aria-describedby="gender" name="gender" [(ngModel)]="newGame.gender">
            </div>
            
            <div class="form-group">
                <label for="">Descripción</label>
                <textarea class="form-control" name="description" [(ngModel)]="newGame.description"></textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-lg btn-block center" (click)="addGame()"> Guardar </button>
        </form>
    </div>
</div>